[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
requests = "*"
Pillow = "*"
beautifulsoup4 = "*"
lxml = "*"
Flask = "*"
requests-cache = "*"

[requires]
python_version = "3.6"
